boto3
pandas 
numpy
matplotlib
seaborn 
scikit-learn
xgboost
catboost
joblib
mlflow
streamlit
python-dotenv
requests
fastapi
docker
kubernetes
python-box
pyYAML
tqdm
ensure
types-PyYAML
Flask
Flask-Cors
-e .